html {
  box-sizing: border-box;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
  }

a {
  color: inherit;
  text-decoration: none;
  }

img {
  max-width: 100%;
  }

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  }

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
  url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
    }

body {
  min-width: 768px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  }

  /* glob */  

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }

.flex {
  display: flex;
  }

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
  }

  :root {
    --gap: 32px;
    --padding-px: 80px;
    --btn-color: #FF9900;
    --active-color: #E1670E;
    --focus-hover-color: #FFB84D;
  }

  /*Header*/

  .header {
    padding: 14px 0;
    margin-bottom: 50px;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  .header__container {
    align-items: center;
  }

  .header__logo {
    margin-right: auto;
  }

  .nav__list {
    margin: 0;
    padding: 25px 0;
    align-items: center;
  }

  .nav__item:not(:last-child) {
    margin: 0;
    margin-right: 85px;
  }

  .nav__item:last-child {
    margin-right: 260px;
  }

.nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;  
  color: #000000;
  transition: outline 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--btn-color);
  outline-offset: 2px;
}

.nav__link:hover {
  border-bottom: 2px solid var(--btn-color);
}

.nav__link:active {
  border-bottom: 2px solid var(--active-color);
  color: var(--active-color);
  outline: 0;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

  /*Hero*/

  .hero__body {
    position: relative;
    width: 100%;
    min-height: 620px;
    background-image: url(../img/Hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 853px 100px 80px;
    margin-bottom: 50px;
    border-radius: 32px;
  }

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__text {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero__btn {
  background-color: var(--btn-color);
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 25px 42px;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: #FFB84D;
}

.hero__btn:hover {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: #E1670E;
}

/* ABOUT-US */

.about-us__title {
  margin: 0;
  margin-bottom: 20px;
}

.about-us__body {
  margin-bottom: 100px;
  max-height: 622px;
}

.about-us__descr {
  width: min(100%, 1235px );
  margin: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.left-body {
  width: calc((100% - var(--gap)) / 2);
  max-height: 622px;
  background-image: url(../img/about-us.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: var(--gap);
  padding-top: 426px;
  border-radius: 32px;
}

.left-body__text {
  background: #00000080;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px 50px;
  border-radius: 32px;
  font-size: 0;
}

.left-body__descr {
  margin: 0;
  margin-right: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px; 
  color: #FFFFFF;
}

.left-body__btn {
  padding: 18px 36px;
  border:3px solid #FF9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 16px;
  flex-wrap: wrap;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.left-body__btn:focus {
  background-color: var(--btn-color);
}

.left-body__btn:hover {
  background-color: var(--btn-color);
}

.left-body__btn:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.right-body {
  width: calc((100% - var(--gap)) / 2);
}

.first-card {
  min-height: calc((100% - var(--gap)) / 2);
  border: 1px solid #CACACA;
  margin-bottom: var(--gap);
  padding: 65px 120px 65px 60px;
  border-radius: 32px;
}


.first-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.first-card__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.second-card {
  min-height: calc((100% - var(--gap)) / 2);
  border: 1px solid #CACACA;
  padding: 65px 120px 65px 60px;
  border-radius: 32px;
}

.second-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.second-card__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.card-svg {
  margin-right: 50px;
}

/* OFFER */

.offer-body {
  position: relative;
  font-size: 0;
  margin-bottom: 111px;
  justify-content: space-between;
}

.offer-body__text {
  width: calc(100% / 2);
  padding-right: 150px;
}

.offer__title {
  margin: 0;
  margin-bottom: 50px;
}

.number__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.number__item:not(:last-child) {
  margin-right: 85px;
}

.offer__number {
  margin-bottom: 45px;
}

.number__link {
transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.number__link:focus {
  outline: 2px solid var(--btn-color);
  outline-offset: 2px;
}

.number__link:hover {
  color: var(--btn-color);
}

.number__link:active {
  color: var(--active-color);
  outline: none;
}

.offer-body__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.offer-body__descr {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}


.first-body__img {
  width: 100%;
  border-radius: 32px;
  transform: translateY(11px);
}


.offer-body__btn {
  padding: 20px 38px;
}

.main-btn {
  background-color: #FF9900;
  border-radius: 16px;
  margin-right: var(--gap);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.main-btn:focus {
  background-color: var(--focus-hover-color);
}

.main-btn:hover {
  background-color: var(--focus-hover-color);
}

.main-btn:active {
  background-color: var(--active-color);
}

.second-btn {
  border: 1px solid #000000;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.second-btn:focus {
  background-color: #666666;
  border-color: #666666;
  color: #FFFFFF;
}

.second-btn:hover {
  background-color: #666666;
  border-color: #666666;
  color: #FFFFFF;
}

.second-btn:active {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

/* FAQ */

.faq__title {
  margin-bottom: 32px;
}

.faq__list {
  margin-bottom: 100px;
  font-size: 0;
}

.faq__item {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CACACA;
  transition: border-color 0.3s ease-in-out;
}

.faq__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__link {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 39px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.faq-svg {
  transition: transform 0.3s ease-in-out;
}

.faq-svg ellipse{
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.faq-svg path {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.faq__item:focus:not(:active) .faq-svg ellipse,
.faq__item:hover:not(:active) .faq-svg ellipse {
  fill: var(--btn-color);
}

.faq__item:active .faq-svg {
  transform: rotate(45deg);
}

.faq__item:focus:not(:active) .faq-svg path,
.faq__item:hover:not(:active) .faq-svg path  {
  fill: #FFFFFF;
}

.faq__item:focus .faq__link,
.faq__item:hover .faq__link {
  color: var(--btn-color);
}

.faq__item:active .faq__link {
  color: #000000;
}

.faq__item:focus, .faq__item:focus + .faq__item,
.faq__item:hover, .faq__item:hover + .faq__item {
  border-top-color: var(--btn-color);
}
.faq__item:active, .faq__item:active + .faq__item {
  border-top-color: #CACACA;
}

.faq__item:last-child:focus,
.faq__item:last-child:hover {
  border-color: var(--btn-color);
}


/* .faq__link:hover  {
  color: var(--btn-color);
}

.faq__item:hover, .faq__item:hover + .faq__item {
  border-top-color: var(--btn-color);
} */






/* FOOTER */

.footer {
  background-color: #000000;
  padding: 50px 0;

  color: white;
}

.left-footer {
  width: calc(100% / 3);
  margin-right: min(100%,17px);
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-nav__link:focus {
  outline: 1px solid var(--btn-color);
  outline-offset: 2px;
}

.footer-nav__link:hover {
  color: var(--btn-color);
}

.footer-nav__link:active {
  outline: none;
  color: var(--active-color);
}

.footer__social-link {
  width: 60px;
  height: 60px;
  transition: outline 0.3s ease-in-out
}

.ok-link {
  margin-right: 22px;
}

.footer__social-link:focus .footer__svg {
  outline: 1px solid var(--btn-color);
  outline-offset: 2px;
}

.footer__svg path{
  fill: #666666;
  transition: fill 0.3s ease-in-out;
}

.footer__svg:hover path {
  fill: var(--btn-color);
}

.footer__svg:active path {
  fill: var(--active-color);
  outline: none;
}

.center-footer {
  width: calc(100% / 3);
}

.center-footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.form__body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 14px 24px;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.form__input::placeholder {
  color: #CACACA;;
}

.form__input:focus-visible {
  background-color: #666666;
  outline: none;
}

.form__input:hover {
  background-color: #666666;
  outline: none;
}

.form__input:active::placeholder {
  color: #fff;
}

.form__textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 32px;
  padding: 14px 24px;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  resize: none;
}

.form__textarea::placeholder {
  color: #CACACA;;
}

.form__textarea:focus-visible {
  background-color: #666666;
  outline: none;
}

.form__texarea:hover {
  background-color: #666666;
  outline: none;
}

.form__textarea:active::placeholder {
  color: #FFFFFF;
}

.form__btn {
  padding: 21px 55px;
  background-color: #FF9900;
  color: #FFFFFF;
  border-radius: 16px;
}

.form__btn:focus {
  background-color: #FFB84D;
}

.form__btn:hover {
  background-color: #FFB84D;
}

.form__btn:active {
  background-color: var(--active-color);
}

.right-footer {
  width: calc(100% / 3);
  padding-left: 224px;
  padding-top: 87px;
  padding-bottom: 87px;
}

.right-footer__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}